*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


section h1{font-size: 3.5em;}

section h2{font-size: 2.7em;}

section h3{font-size: 2em;}
 
section p{font-size: 1.2em;}

button{
     font-size: 1em;
     font-weight: bold;
     padding: 10px 20px;
     border-radius: 10px;
     border: 1px solid rgba(0, 0, 0, 0.5);
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     color: white;
     background-color: #2471A3;


}

button:hover{
     background-color: #E67E22;

}
 .container{
     max-width: 1400px;
     margin: auto;
 }

#hero{
     padding-top: 225px;
     text-align: center;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 90vh;
     background-image: linear-gradient(
         0deg, 
         rgba(0, 0, 0, 0.5), 
         rgba(0, 0, 0, 0.5) 
     ) 
     ,url("Imagenes_conitrox/36169-cumpleanos.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     
     
     

}

#hero h1{
    
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#cumpleaños-pro-ya .container{
     text-align: center;
     padding: 200px 12px;
}

 
#mis-trabajos{
     background-color: rgb(30, 30, 30);
     color: white;
     text-align: center;
}

#mis-trabajos .container{
    padding: 150px 12px;
     

}

#mis-trabajos h2{
     margin-top: 0;
     font-size: 3.2em;
    
}

#mis-trabajos p{
     display: none;
}

#mis-trabajos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

}

.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("Ilustraciones/ilustraciones_Conitrox/dos.jpg");
    
    

}

.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("Trabajos_tela/trabajos_tela_Conitrox/uno.jpg");

}

.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("Imagenes_conitrox/68401-instagram.jpg");

}

@media (min-width: 720px){

    #hero h1{
        font-size: 5em;
    }

    #cumpleaños-pro-ya .container{
        display: flex;
        justify-content: space-evenly;

    }

    #cumpleaños-pro-ya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #cumpleaños-pro-ya h2{
        margin-top: 0px;
    }

    #cumpleaños-pro-ya .img-container{
        background-image: url("Imagenes_conitrox/36169-cumpleanos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;


    }

    #mis-trabajos .trabajos{
        display: flex;
        justify-content: center;

    }



    #mis-trabajos p{
        display: block;
        margin-bottom: 30px;
        text-shadow: black 0.1em 0.1em 0.2em;

    }

    #mis-trabajos h3{
        margin-top: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    #mis-trabajos .carta{
        padding: 15px;
    }


}


.logo{
    height: 100px;
    display: flex;
    margin-left: 10px;

    
    
        
}

.enlace{
    display: flex;
    align-items: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
        

nav{
    background:#2874A6  ;
    height: 100px;
    width: 100%;
   
}

nav ul{
    float: right;
    margin-right: 20px;
    
    
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    
}



nav ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #2471A3;

}

nav > ul > li > ul {
    top: 15.4%;

}
nav ul li ul li a i{
    margin-right: 3px;
}

nav ul li ul{
    padding: 1px 4px;
    display: none;


}

nav ul li ul a{
    font-size: 11px;
    padding: 15px 14px;
    
}

nav ul li:hover > ul{
    display: block;
}

a{
    text-decoration: none;
}









nav ul li a{
    color: white;
    font-size: 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #E67E22;
    transition: .8s;

}

.checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 100px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}




@media (max-width: 952px) {
    .enlace{
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    nav ul li ul li a{
        font-size: 8px;
    }

    nav ul li ul li a i{
        margin-right: 3px ;
        font-size: 8px;
    }

    
    
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #154360;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }


    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #E67E22;
    }
    #check:checked ~ ul{
        left: 0;

    }

    
    
    
}

.pie-pagina{
    width: 100%;
    background-color:#2874A6;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #154360;
    text-align: center;
    transition: all 300ms ease;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #E67E22;
}

.pie-pagina .grupo-2{
    background-color: #154360;
    padding: 15px 10px;
    text-align: center;
    color: white;

}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px ){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}

/*scroll*/

body::-webkit-scrollbar{
    width: 7px;
    background: #154360;
}

body::-webkit-scrollbar-thumb{
    background: #E67E22;
    border-radius: 5px;
}


